div.bookCard {
	background-color: white;
	color: #272727;
	padding: 15px;
	border-radius: 10px;
	border: 1pt;
	border-color: black;
	border-style: solid;
	transition: 200ms;
    max-width: 400px;
    max-height: auto;
}

div.bookCard:hover {
	transition: 200ms;
	border: 3pt;
	border-color: peachpuff;
	border-style: solid;
}

div.bookHeader {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

div.bookHeader2{
    /* width: 2.5rem; */
	max-height: min-content;
	background-color: peachpuff;
	/* border-radius: 50%; */
	margin: 10pt;
	font-size: 20pt;
	text-align: center;
	/* font-weight: bold; */
	color: black;
	justify-content: center;
    border: 1pt solid black;
    
}

div.shortDesc{
    max-height: fit-content;
    max-width: auto;
}
