#root {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 20px 20px 60px;
    max-width: 680px;
    margin: 0 auto;
    border-color: black;
}

div.bookshelf{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color:slategray;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 50pt;
    color: peachpuff;
    outline: auto;
    outline-color: dimgray;
}

/* div.bookshelf{ */
    /* /~ display: flex; ~/ */
/* } */

/* .div.book { */
    /* /~ display: flex; ~/ */
    /* /~ flex-wrap: wrap; ~/ */
    /* /~ flex-direction: row; ~/ */
    /* align-content: center; */
    /* border-color: black; */
/* } */

h2{
    font-family: 'Cinzel Decorative', cursive;
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:dimgrey;
    text-align:center;
    transition: all 0.2s;
}

.button1:hover{
    color:black;
    background-color: hotpink;
}

@media all and (max-width:30em){
    button1{
    display:block;
    margin:0.4em auto;
    }
}