#root {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 20px 20px 60px;
    max-width: 700px;
    margin: 0 auto;
}

div.bookshelf{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color:slategray;
    width: auto;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 50pt;
    color: peachpuff;
    outline: auto;
    outline-color: dimgray;
    margin-top: 15pt;
    margin-bottom: 20pt;
    padding-left: 3pt;
    padding-right: 3pt;
}

h2{
    font-family: 'Cormorant', serif;
    font-size: 25pt;
    padding: 5pt;
    line-height: 25pt;
}

h4{
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

p{
    font-size: 12pt;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
}

/* CSS */
.button1 {
    appearance: button;
    background-color: slategray;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: peachpuff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 65pt;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: all 0.2s;
}

.button1:hover{
    color: slategray;
    background-color: peachpuff;
}